<div class="barra-titulo">
	COMPAÑIA
</div>

<div class="breadcrumbs">
	Home/compañia
</div>
<div class="container" >

	<div class="row">
			<div class="row" >
				<div class="col-9" >
					<u>Compañias</u>
				</div>


				<div class="row">
					<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>
				</div>

			</div>


		</div>
	</div>

		



<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>
