<div class="barra-titulo">
	CATEGORIAS
</div>

<div class="breadcrumbs">
	Home/categorias
</div>

<div class="container" >

	<div class="row">
		<div class="col-9">
			<div class="row" >
				<div class="todas-categorias col-9" >
					<u>Categorias de Nuestros Productos</u>
				</div>
				
			</div>
			<div class="row">
				<div class=" col-12" >
					<div class="row" >
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
							  <img src="/images/producto3.jpg" >
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
			

		<div class=" col-3" >
			

	

		</div>

		



<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>


