<div class="barra-titulo">
	TIENDA
</div>

<div class="breadcrumbs">
	Home/tienda
</div>

<div class="container" >

	<div class="row">
		<div class="col-9">
			<div class="row" >
				<div class="tienda-productos col-9" >
					<u>Tienda de Productos</u>
				</div>

				<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>
				
			</div>
			<div class="row">
				<div class=" col-12" >
					<div class="row" >
						<!--<div class="container-prod" *ngFor="let product of products">-->
							<div class="col-4 contenedor-producto" *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: p }">
								<div class="row detalles-producto">
									<div class="col-xs-6 col-md-3">
										<a class="thumbnail producto" (click)="goToProduct(product)">
										  <img src="/images/producto1.jpg" >
										  	<div class="row product-letra">
												{{product.name_product}}
											</div>
											<div class="row product-valor">
												${{product.value}}
											</div>
										</a>
									</div>
									
								</div>
								
							</div>
						<!--</div>-->
					</div>
				</div>
			</div>
		</div>
			

		<div class=" col-3" >
			<span class="titulos-productos">Categoria de Productos</span>
			<div class="opciones-productos" *ngFor="let category of categories">
				
				<ul class="nav nav-pills">
					<li role="presentation" class="categoria-link"><a (click)="goToCategory(category)">{{category.name_category}}</a></li>
				</ul>
				
			</div>

			<span class="titulos-productos">Productos Mas Vendidos</span>

			<div class="opciones-productos" >

				<div class="row" *ngFor="let product of productsMostSales; let i = index">
					<div ng-if="i < 3">
						<a class="thumbnail" (click)="goToProduct(product)">
							<div class="row">
							<div class="col-5">
						  		<img src="/images/producto4.jpg" class="img">
							</div>
							<div class="col-7">
								<div class="row product-letra-mas-vendidos">
							  		{{product.name_product}}
							  	</div>
							  	<div class="row product-valor-mas-vendidos">
							  		${{product.value}}
							  	</div>
								</div>
							</div>
						</a>
					</div>
					
				</div>
				
	
			</div>
		
		

	

		</div>
		</div>

		



<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>


