.barra-titulo {
    width: 100%;
    height: 65px;
    padding: 11px 35px;
    margin: 20px 0px;
    border-radius: 10px;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    font-family: cursive;
}
.contenedor-producto{
    text-align: center;
}

.ver-producto{
    text-align: center;
}
.product-letra{
    height: 37px;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    font-family: cursive;
}

.product-valor{
    height: 37px;
    font-size: 26px;
    color: #3FD2BF;
    margin-bottom: 35px;
    border-radius: 7px;
}

.breadcrumbs {
    width: 100%;
    background: #ddd;
    padding: 7px 15px;
    margin-bottom: 35px;
    border-radius: 7px;
}

.tienda-productos {
    width: 100%;
    color: #3FD2BF;
    font-size: 160%;
    padding: 7px 15px;
    margin-bottom: 35px;
    border-radius: 7px;
}



.titulos-productos {
    width: 100%;
    font-weight:bold;
    padding-top: 3%;
    font-size: initial;
}
.opciones-productos {
    width: 100%;
    padding-top: 3%;
    padding-left: 4%;
    font-size: initial;
}

.detalles-producto{
     height: 30px;
}
.productos-destacados{
    padding-left: 10%;
}

.pagination{
    padding-top: 5%;
}

.images-producto img{
    width: 80%
}


