<div class="barra-titulo">
	TIENDA
</div>

<div class="breadcrumbs">
	Home/tienda
</div>

<div class="container" >

	<div class="row">
		<div class="col-9">
			<div class="row" >
				<div class="tienda-productos col-9" >
					<u>Tienda de Productos</u>
				</div>
				
			</div>
			<div class="row">
				<div class=" col-12" >
					<div class="row" >
						<div class="col-4 contenedor-producto" *ngFor="let product of products | paginate: { itemsPerPage: 9, currentPage: p }">
							<div class="row">
								<div class="col-12 ">
									<img src="images/producto1.jpg" />
								</div>
								
							</div>
							<div class="row detalles-producto">
								<div class="col-6 product-letra">
									{{product.name_product}}
								</div>
								<div class="col-4 product-valor">
									{{product.value}}
								</div>
							</div>
							<div class="row ver-producto">
								<a class="link-añadir" href="#">
							        <div class="btn-añadir">
							        	Ver Producto
							        </div>
							    </a>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
			

		<div class=" col-3" >
			<span class="titulos-productos">Categoria de Productos</span>
			<div class="opciones-productos">
				<a href="">Accesorios para Mascotas</a> <br>
				<a href="">Comida para mascotas</a> <br>
				<a href="">Productos de salud</a> <br>
				<a href="">Productos de Belleza</a> <br>
				<a href="">Habitat para Mascotas</a> <br>
			</div>

			<span class="titulos-productos">Productos Destacados</span>

			<div class="opciones-productos" >

				<div>
					IMAGEN
				</div>
				<div class="row">
					<div class="col-8">
						Producto 1
					</div>
					<div class="col-4">
						1234
					</div>
					
				</div>

				<div>
					IMAGEN
				</div>
				<div class="row">
					<div class="col-8">
						Producto 2
					</div>
					<div class="col-4">
						3346
					</div>
					
				</div>

				<div>
					IMAGEN
				</div>
				<div class="row">
					<div class="col-8">
						Producto 3
					</div>
					<div class="col-4">
						353453
					</div>
					
				</div>
				
			</div>


		</div>
	
	</div>
		
		

	

</div>

		



<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>


