<div class="barra-titulo">
  Nueva publicación
</div>
<div class="breadcrumbs">
  Home/Productos/nueva-publicacion
</div>

<div class="cont-publication col-md-12">
  <div class="info-publication col-md-10">
    <form (ngSubmit)="createPublication(publication)" #publicationForm='ngForm' enctype="multipart/form-data">

      <div class="form-group">
        <label for="publication-title">
          <h3> Título de la publicación </h3>
        </label>
        <input type="text" class="form-control" id="title" required name="title" placeholder="Título de la publicación" #title='ngModel' [(ngModel)]='publication.title'>
      </div>

      <div class="form-group">
        <label for="publication-body">
          <h3> Descripción </h3>
        </label>
        <input type="text" class="form-control" id="body_publication" required name="body_publication" placeholder="Mensaje ..." #body_publication='ngModel' [(ngModel)]='publication.body_publication'>
      </div>

      <div class="form-group">
        <label for="publication-userid">
          <h3> ID del usuario </h3>
        </label>
        <input type="text" class="form-control" id="user_id" required name="user_id" placeholder="ID de usuario" #user_id='ngModel' [(ngModel)]='publication.user_id'>
      </div>

      <div class="form-group">
        <label for="publication-image_publication">
          <h3> Imagen de la publicación </h3>
        </label>
        <input type="file" class="form-control" id="image_publication" name="image_publication" #image_publication='ngModel' [(ngModel)]='publication.image_publication'>
      </div>

      <button type="submit" class="btn btn-primary btn-crear" [disabled]="!publicationForm.form.valid">Crear publicacion</button>
    </form>
  </div>
  <div class="lateral-prod col-md-2">
     productos recientes
  </div>
  <div class="clear"></div>
</div>
